body {
    font-family: Arial, sans-serif;
    
}

h1 {
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    margin-top: 20px;
}

input[type=text]::placeholder, select::placeholder {
    text-align: center;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center; /* Added property */
}

button {
    background-color: #50368a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 12px 0 12px 0px;
}

#toggle {
    color: grey;
    font-size: small;
}